In [1]:
import pandas as pd

In [7]:
# Name of the CSV file
file = './Resources/uncleaned_covid_cases.csv'

In [8]:
df = pd.read_csv(file, encoding="UTF-8")

In [9]:
df.head()

,State/Territory,Total Cases,Confirmed Cases,Probable Cases,Cases in Last 7 Days,Case Rate per 100000,Total Deaths,Confirmed Deaths,Probable Deaths,Deaths in Last 7 Days,...,# Tests per 100K,Total # Tests,# Tests per 100K Last 7 Days,Total # Tests Last 7 Days,# Tests per 100K Last 30 Days,Total # Tests Last 30 Days,New Cases,New Deaths,Latitude,Longitude
0,Alabama,1333137.0,957838.0,375299.0,8836.0,27189.0,19696.0,15118.0,4578.0,1.0,...,157918.0223,7771986.0,464.41,22856.0,2289.67,112687.0,1463.0,0.0,32.3182,-86.9023
1,Alaska,257263.0,0.0,0.0,1838.0,35167.0,1252.0,NaN,NaN,0.0,...,569912.1120,4166958.0,369.96,2705.0,1992.18,14566.0,1838.0,0.0,63.5888,-154.4931
2,American Samoa,6270.0,0.0,0.0,78.0,13230.0,31.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,14.2710,170.1322
3,Arizona,2093680.0,1845454.0,248226.0,16334.0,28764.0,30400.0,26426.0,3974.0,28.0,...,202944.4171,15061319.0,527.89,39177.0,2809.05,208471.0,16334.0,28.0,34.0489,-111.0937
4,Arkansas,852229.0,0.0,0.0,4418.0,28240.0,11528.0,NaN,NaN,17.0,...,159002.2445,4818598.0,607.65,18415.0,2278.78,69059.0,954.0,1.0,35.2011,-91.8318

In [15]:
#select columns
file_cases = df[["Total Cases", "Cases in Last 7 Days", "Case Rate per 100000", "Total Deaths", "Deaths in Last 7 Days", "Death Rate per 100000", "7-Day Cases Rate per 100000", "7-Day Death Rate per 100000", "New Cases", "New Deaths"]]

In [16]:
file_cases.head()

,Total Cases,Cases in Last 7 Days,Case Rate per 100000,Total Deaths,Deaths in Last 7 Days,Death Rate per 100000,7-Day Cases Rate per 100000,7-Day Death Rate per 100000,New Cases,New Deaths
0,1333137.0,8836.0,27189.0,19696.0,1.0,401.0,180.2,0.0,1463.0,0.0
1,257263.0,1838.0,35167.0,1252.0,0.0,171.0,251.2,0.0,1838.0,0.0
2,6270.0,78.0,13230.0,31.0,0.0,65.0,164.6,0.0,0.0,0.0
3,2093680.0,16334.0,28764.0,30400.0,28.0,417.0,224.4,0.4,16334.0,28.0
4,852229.0,4418.0,28240.0,11528.0,17.0,382.0,146.4,0.6,954.0,1.0

In [17]:
file_cases.to_csv("./Resources/cleaned_covid_cases.csv", index=False)

In [18]:
file2 = "./Resources/uncleaned_covid_vaccine.csv"

In [20]:
df2 = pd.read_csv(file, encoding="UTF-8")

In [21]:
df.head()

,State/Territory,Total Cases,Confirmed Cases,Probable Cases,Cases in Last 7 Days,Case Rate per 100000,Total Deaths,Confirmed Deaths,Probable Deaths,Deaths in Last 7 Days,...,# Tests per 100K,Total # Tests,# Tests per 100K Last 7 Days,Total # Tests Last 7 Days,# Tests per 100K Last 30 Days,Total # Tests Last 30 Days,New Cases,New Deaths,Latitude,Longitude
0,Alabama,1333137.0,957838.0,375299.0,8836.0,27189.0,19696.0,15118.0,4578.0,1.0,...,157918.0223,7771986.0,464.41,22856.0,2289.67,112687.0,1463.0,0.0,32.3182,-86.9023
1,Alaska,257263.0,0.0,0.0,1838.0,35167.0,1252.0,NaN,NaN,0.0,...,569912.1120,4166958.0,369.96,2705.0,1992.18,14566.0,1838.0,0.0,63.5888,-154.4931
2,American Samoa,6270.0,0.0,0.0,78.0,13230.0,31.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,14.2710,170.1322
3,Arizona,2093680.0,1845454.0,248226.0,16334.0,28764.0,30400.0,26426.0,3974.0,28.0,...,202944.4171,15061319.0,527.89,39177.0,2809.05,208471.0,16334.0,28.0,34.0489,-111.0937
4,Arkansas,852229.0,0.0,0.0,4418.0,28240.0,11528.0,NaN,NaN,17.0,...,159002.2445,4818598.0,607.65,18415.0,2278.78,69059.0,954.0,1.0,35.2011,-91.8318

In [22]:
df2.head()

,State/Territory,Total Cases,Confirmed Cases,Probable Cases,Cases in Last 7 Days,Case Rate per 100000,Total Deaths,Confirmed Deaths,Probable Deaths,Deaths in Last 7 Days,...,# Tests per 100K,Total # Tests,# Tests per 100K Last 7 Days,Total # Tests Last 7 Days,# Tests per 100K Last 30 Days,Total # Tests Last 30 Days,New Cases,New Deaths,Latitude,Longitude
0,Alabama,1333137.0,957838.0,375299.0,8836.0,27189.0,19696.0,15118.0,4578.0,1.0,...,157918.0223,7771986.0,464.41,22856.0,2289.67,112687.0,1463.0,0.0,32.3182,-86.9023
1,Alaska,257263.0,0.0,0.0,1838.0,35167.0,1252.0,NaN,NaN,0.0,...,569912.1120,4166958.0,369.96,2705.0,1992.18,14566.0,1838.0,0.0,63.5888,-154.4931
2,American Samoa,6270.0,0.0,0.0,78.0,13230.0,31.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,14.2710,170.1322
3,Arizona,2093680.0,1845454.0,248226.0,16334.0,28764.0,30400.0,26426.0,3974.0,28.0,...,202944.4171,15061319.0,527.89,39177.0,2809.05,208471.0,16334.0,28.0,34.0489,-111.0937
4,Arkansas,852229.0,0.0,0.0,4418.0,28240.0,11528.0,NaN,NaN,17.0,...,159002.2445,4818598.0,607.65,18415.0,2278.78,69059.0,954.0,1.0,35.2011,-91.8318

In [28]:
#select columns
file_vaccine = df2[["State/Territory","Total Doses Distributed","Doses Distributed per 100K"]]
                    ##"Total Doses Administered by State where Administered","Doses Administered per 100k by State where Administered","People Fully Vaccinated by State of Residence"]]
                    #,"Percent of Total Pop Fully Vaccinated by State of Residence","People 18+ Fully Vaccinated by State of Residence","Percent of 18+ Pop Fully Vaccinated by State of Residence", "Percent of 18+ Pop Fully Vaccinated by State of Residence","People 12+ Fully Vaccinated by State of Residence","People 5+ Fully Vaccinated by State of Residence","Latitude","Longitude"]]

KeyError: "['Total Doses Distributed', 'Doses Distributed per 100K'] not in index"