# Data_Cleaning

In [1]:
import pandas as pd

### Covid_Cases File

In [2]:
# Extract CSV into Dataframe
file2 = "../Resources/merged_covid_cases.csv"

#Read CSV
case_df = pd.read_csv(file2, encoding="UTF-8")
case_df.head()

,State/Territory,Total Cases,Confirmed Cases,Probable Cases,Cases in Last 7 Days,Case Rate per 100000,Total Deaths,Confirmed Deaths,Probable Deaths,Deaths in Last 7 Days,...,# Tests per 100K,Total # Tests,# Tests per 100K Last 7 Days,Total # Tests Last 7 Days,# Tests per 100K Last 30 Days,Total # Tests Last 30 Days,New Cases,New Deaths,Latitude,Longitude
0,Alabama,1333137,957838,375299,8836,27189,19696,15118.0,4578.0,1,...,157918.0223,7771986.0,464.41,22856.0,2289.67,112687.0,1463,0,32.318231,-86.902298
1,Alaska,257263,0,0,1838,35167,1252,NaN,NaN,0,...,569912.1120,4166958.0,369.96,2705.0,1992.18,14566.0,1838,0,63.588753,-154.493062
2,American Samoa,6270,0,0,78,13230,31,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,14.271000,170.132200
3,Arizona,2093680,1845454,248226,16334,28764,30400,26426.0,3974.0,28,...,202944.4171,15061319.0,527.89,39177.0,2809.05,208471.0,16334,28,34.048928,-111.093731
4,Arkansas,852229,0,0,4418,28240,11528,NaN,NaN,17,...,159002.2445,4818598.0,607.65,18415.0,2278.78,69059.0,954,1,35.201050,-91.831833

In [3]:
# Create new dataframe with select columns
case_df = case_df[["State/Territory", "Total Cases", "Cases in Last 7 Days", "Case Rate per 100000", "Total Deaths", "Deaths in Last 7 Days", "Death Rate per 100000", "7-Day Cases Rate per 100000", "7-Day Death Rate per 100000", "New Cases", "New Deaths", "Latitude", "Longitude"]]
case_df.head()

,State/Territory,Total Cases,Cases in Last 7 Days,Case Rate per 100000,Total Deaths,Deaths in Last 7 Days,Death Rate per 100000,7-Day Cases Rate per 100000,7-Day Death Rate per 100000,New Cases,New Deaths,Latitude,Longitude
0,Alabama,1333137,8836,27189,19696,1,401,180.2,0.0,1463,0,32.318231,-86.902298
1,Alaska,257263,1838,35167,1252,0,171,251.2,0.0,1838,0,63.588753,-154.493062
2,American Samoa,6270,78,13230,31,0,65,164.6,0.0,0,0,14.271000,170.132200
3,Arizona,2093680,16334,28764,30400,28,417,224.4,0.4,16334,28,34.048928,-111.093731
4,Arkansas,852229,4418,28240,11528,17,382,146.4,0.6,954,1,35.201050,-91.831833

In [4]:
# Save dataframe as csv file
case_df.to_csv("../Resources/Cleaned_Files/cleaned_covid_case.csv", index=False)

### Covid_Vaccine File

In [5]:
# Extract CSV into Dataframe
file3 = "../Resources/merged_covid_vaccine.csv"

#Read CSV
vaccine_df = pd.read_csv(file3, encoding="UTF-8")
vaccine_df.head()

,State/Territory,Total Doses Distributed,Doses Distributed per 100K,18+ Doses Distributed per 100K,Total Doses Administered by State where Administered,Doses Administered per 100k by State where Administered,18+ Doses Administered by State where Administered,18+ Doses Administered per 100K by State where Administered,People with at least One Dose by State of Residence,Percent of Total Pop with at least One Dose by State of Residence,...,People 50+ with a Second Booster Dose,Percent of People 50+ with First Booster Dose who Received Second Booster Dose,People 65+ with a Second Booster Dose,Percent of People 65+ with First Booster Dose who Received Second Booster Dose,People with Pfizer Second Booster Dose,People with Moderna Second Booster Dose,People with Janssen Second Booster Dose,People with Second Booster Dose of Other Manufacturer,Latitude,Longitude
0,United States,758129055,228346.0,293553.0,592269252,178390.0,535659030,207411.0,259198178,78.1,...,16022912,25.3,11123046,31.8,8756788,8046534,16422,12425,37.090200,95.712900
1,Alaska,1609665,220036.0,291838.0,1171773,160178.0,1048472,190091.0,513559,70.2,...,30246,26.0,19111,32.2,15000,17011,47,7,63.588753,-154.493062
2,Alabama,10035640,204676.0,263066.0,6402751,130584.0,5972815,156566.0,3096313,63.1,...,107319,15.8,80439,19.3,50402,61512,216,13,32.318231,-86.902298
3,Arkansas,6461880,214125.0,278812.0,4333404,143595.0,3954012,170604.0,2030137,67.3,...,98072,21.3,74091,26.5,47887,53595,72,81,35.201050,-91.831833
4,American Samoa,121410,256182.0,387458.0,111347,234949.0,82858,264426.0,45464,95.0,...,1030,12.7,478,20.8,842,251,0,0,14.271000,170.132200

In [6]:
# Create new dataframe with select columns
vaccine_df = vaccine_df[["State/Territory", "Total Doses Distributed", "Doses Distributed per 100K", "Total Doses Administered by State where Administered", "Doses Administered per 100k by State where Administered", "People Fully Vaccinated by State of Residence", "Latitude", "Longitude"]]
vaccine_df.head()

,State/Territory,Total Doses Distributed,Doses Distributed per 100K,Total Doses Administered by State where Administered,Doses Administered per 100k by State where Administered,People Fully Vaccinated by State of Residence,Latitude,Longitude
0,United States,758129055,228346.0,592269252,178390.0,221924152,37.090200,95.712900
1,Alaska,1609665,220036.0,1171773,160178.0,459810,63.588753,-154.493062
2,Alabama,10035640,204676.0,6402751,130584.0,2527041,32.318231,-86.902298
3,Arkansas,6461880,214125.0,4333404,143595.0,1657535,35.201050,-91.831833
4,American Samoa,121410,256182.0,111347,234949.0,41903,14.271000,170.132200

In [7]:
# Save dataframe as csv file
vaccine_df.to_csv("../Resources/Cleaned_Files/cleaned_covid_vaccine.csv", index=False)